
body {
    padding: 0;
    margin: 0;
    background: #fff;
}
.navbar {
    background:#ca2c92;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}
.description h1 {
	color: #ca2c92;
}
.description p {
	color: #000;
	font-size: 1.3rem;
	line-height: 1.5;
}

.description button {
    border:1px solid #ca2c92;
    background:#ca2c92;
    border-radius: 0;
    color:#fff;
}
.description button:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}

.features .form-control,
.features input {
	border-radius: 0;
}
.features .btn {
    background-color: #ca2c92;
    border: 1px solid #ca2c92;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}